{% extends 'layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="box">
        <h3 class="box__header">アカウント削除</h3>
        <div class="box__body">
          <form action="{{ path_for('settings_account') }}" method="post">
            <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.token }}">
            <button type="submit" class="btn btn-danger" name="_METHOD" value="DELETE">
              アカウントを削除する
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
