{% extends 'layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col">
      {% if flash %}<p class="alert alert-warning">{{ flash }}</p>{% endif %}
      {% if not user %}
        <div class="box">
          <h3 class="box__header">ソーシャルログイン</h3>
          <div class="box__body">
            <div class="list-group my-list-group">
              <a href="{{ path_for('login') }}"
                 class="list-group-item list-group-item-action">GitHub</a>
              <a href="{{ path_for('oauth_google') }}"
                 class="list-group-item list-group-item-action">Google</a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
