<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ app.title }}</title>
    <link href="/dist/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<main role="main" class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">{{ app.title }}</a>
        {% if user %}
            <a href="{{ path_for('signout') }}" class="navbar-text">SIGNOUT</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</main>
<script src="/dist/bundle.js"></script>
</body>
</html>