<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ path_for('users') }}">Admin/Users</a></li>
</ul>
{% block content %}{% endblock %}
</body>

</html>
