<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>php-auth</title>
</head>
<body>
{% if name is null %}
    <a href="{{ path_for('login', {}, {rd: base_url()}) }}">GitHub</a> | Google
{% else %}
    <a href="{{ path_for('logout', {}, {rd: base_url()}) }}">ログアウト</a> | Hello, {{ name }}
{% endif %}

<ul>
{% for role in roles %}
    <li>{{ role }}</li>
{% endfor %}
</ul>
</body>
</html>


