<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>php-auth</title>
</head>
<body>
{% if login is null %}
    <a href="{{ path_for('login', {}, {rd: base_url()}) }}">ログイン</a>
{% else %}
    <a href="{{ path_for('logout', {}, {rd: base_url()}) }}">ログアウト</a> | Hello, {{ login }}
{% endif %}
</body>
</html>


