@import '~bootstrap/dist/css/bootstrap.min.css';

p.flash {
  color: red;
}

.container-fluid {
  padding-top: 32px;
}

.my-list-group {
  margin-bottom: 12px;
}

div.box {
  max-width: 800px;
  margin-bottom: 40px;
}

div.box .box__header {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

div.box .box__body {
  padding-left: 10px;
}
